body
{
	background: url(../img/webb/webb/webb.png);
	/* Background pattern from Toptal Subtle Patterns */
	font-family: 'Pacifico';
	margin:0;
}

header
{
	background: url(../img/webb-dark/webb-dark/webb-dark.png);
	color: #fff;
	text-align: center;
}

.container
{
	width: 1212px;
	height: 620px;
	margin-left: auto;
	margin-right: auto;
}

.song
{
	float: left;
	height: 296px;
	width: 396px;
	border: 2px solid #000;
	border-radius: 5%;
	background: url(../img/webb-dark/webb-dark/webb-dark.png);
	margin: 2px;
	font-size: 40px;
	text-align: center;
	color: #fff;
}

.song:hover
{
	background: url(../img/webb/webb/webb.png);
	color: #000;
}

a
{
	text-decoration: none;
	target: _blank;
}

footer
{
	background: url(../img/webb-dark/webb-dark/webb-dark.png);
	color: #fff;
	text-align: center;
	padding: 5px 0;
}